* {
    margin: 0;
    padding: 0;
}

#website-name {
    color: red;
    text-decoration: none;
}

.navbar-right {
    display: inline-block;
    margin-right: 0;
}

.post-content {
    margin: 1em;
    border = "solid 1px black";
    border-radius: 10px;
}

.post-title {
    color: blue;
}

