{% load static %}
<html>
    <head>
        <title>Bloggie</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="navbar-left">
                <h1> <a href="{% url 'home' %}" id="website-name">Bloggie</a> </h1>
            </div>
            <div class="navbar-right">
                <a href="{% url 'post_new' %}">+ New Post</a> </h1>
            </div>
        </header>

        {% block content %}
        {% endblock %}

    </body>
</html>
